Task 1: Indexing and Slicing
• Load a dataset using pd.read_csv()
• Practice:
o df.loc[row_label, column_label]
o df.iloc[row_index, column_index]
• Select:
o Entire rows
o Subsets of columns
o Conditional selections

In [70]:
import pandas as pd

In [71]:
df=pd.read_csv("Super_Store_Sales_data.csv")

In [72]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [73]:
# Entire row by index label
df.loc[1]

Row ID                                                           2
Order ID                                            CA-2017-152156
Order Date                                              08/11/2017
Ship Date                                               11/11/2017
Ship Mode                                             Second Class
Customer ID                                               CG-12520
Customer Name                                          Claire Gute
Segment                                                   Consumer
Country                                              United States
City                                                     Henderson
State                                                     Kentucky
Postal Code                                                42420.0
Region                                                       South
Product ID                                         FUR-CH-10000454
Category                                                 Furniture
Sub-Category                                                Chairs
Product Name     Hon Deluxe Fabric Upholstered Stacking Chairs,...
Sales                                                       731.94
Name: 1, dtype: object

In [74]:
# Specific value using row label and column name
df.loc[1,"Category"]

'Furniture'

In [75]:
# Entire column
df.loc[:,"Category"]

0             Furniture
1             Furniture
2       Office Supplies
3             Furniture
4       Office Supplies
             ...
9795    Office Supplies
9796    Office Supplies
9797         Technology
9798         Technology
9799         Technology
Name: Category, Length: 9800, dtype: object

In [76]:
# Subset of columns
df.loc[:,["Order ID","Customer ID","Customer Name"]]

            Order ID Customer ID     Customer Name
0     CA-2017-152156    CG-12520       Claire Gute
1     CA-2017-152156    CG-12520       Claire Gute
2     CA-2017-138688    DV-13045   Darrin Van Huff
3     US-2016-108966    SO-20335    Sean O'Donnell
4     US-2016-108966    SO-20335    Sean O'Donnell
...              ...         ...               ...
9795  CA-2017-125920    SH-19975     Sally Hughsby
9796  CA-2016-128608    CS-12490  Cindy Schnelling
9797  CA-2016-128608    CS-12490  Cindy Schnelling
9798  CA-2016-128608    CS-12490  Cindy Schnelling
9799  CA-2016-128608    CS-12490  Cindy Schnelling

[9800 rows x 3 columns]

In [77]:
# Multiple specific rows
df.loc[[0,5,10]]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.960
5,6,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.860
10,11,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.184

In [78]:
# Entire row by row index
df.iloc[0]

Row ID                                           1
Order ID                            CA-2017-152156
Order Date                              08/11/2017
Ship Date                               11/11/2017
Ship Mode                             Second Class
Customer ID                               CG-12520
Customer Name                          Claire Gute
Segment                                   Consumer
Country                              United States
City                                     Henderson
State                                     Kentucky
Postal Code                                42420.0
Region                                       South
Product ID                         FUR-BO-10001798
Category                                 Furniture
Sub-Category                             Bookcases
Product Name     Bush Somerset Collection Bookcase
Sales                                       261.96
Name: 0, dtype: object

In [79]:
# Specific cell by row and column index
df.iloc[0,3]

'11/11/2017'

In [80]:
# First 3 rows
df.iloc[0:3]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62

In [81]:
# Subset of rows and columns
df.iloc[0:5,0:2] # Rows 0–5 and columns 0-2

   Row ID        Order ID
0       1  CA-2017-152156
1       2  CA-2017-152156
2       3  CA-2017-138688
3       4  US-2016-108966
4       5  US-2016-108966

In [82]:
# Filter rows where Sales > 500
sales=df[df["Sales"]>500]

In [83]:
sales

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
7,8,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520
10,11,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.1840
11,12,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,TEC-PH-10002033,Technology,Phones,Konftel 250 Conference phone - Charcoal black,911.4240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9759,9760,CA-2017-146913,31/10/2017,05/11/2017,Standard Class,SF-20965,Sylvia Foulston,Corporate,United States,San Francisco,California,94109.0,West,FUR-CH-10001854,Furniture,Chairs,Office Star - Professional Matrix Back Chair w...,1403.9200
9774,9775,CA-2015-169019,26/07/2015,30/07/2015,Standard Class,LF-17185,Luke Foster,Consumer,United States,San Antonio,Texas,78207.0,Central,OFF-BI-10004995,Office Supplies,Binders,GBC DocuBind P400 Electric Binding System,2177.5840
9781,9782,CA-2017-153178,14/09/2017,18/09/2017,Standard Class,CL-12565,Clay Ludtke,Consumer,United States,Long Beach,New York,11561.0,East,OFF-BI-10004390,Office Supplies,Binders,GBC DocuBind 200 Manual Binding Machine,673.5680
9787,9788,CA-2018-144491,27/03/2018,01/04/2018,Standard Class,CJ-12010,Caroline Jumper,Consumer,United States,Houston,Texas,77070.0,Central,FUR-BO-10001811,Furniture,Bookcases,"Atlantic Metals Mobile 5-Shelf Bookcases, Cust...",1023.3320
9788,9789,CA-2018-144491,27/03/2018,01/04/2018,Standard Class,CJ-12010,Caroline Jumper,Consumer,United States,Houston,Texas,77070.0,Central,FUR-CH-10004063,Furniture,Chairs,Global Deluxe High-Back Manager's Chair,600.5580

In [84]:
# Filter where Category is 'Furniture'
furniture=df[df["Category"]=="Furniture"]

In [85]:
furniture

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
5,6,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600
10,11,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.1840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9786,9787,US-2015-114377,05/11/2015,05/11/2015,Same Day,BG-11035,Barry Gonzalez,Consumer,United States,Hampton,Virginia,23666.0,South,FUR-CH-10004754,Furniture,Chairs,"Global Stack Chair with Arms, Black",149.9000
9787,9788,CA-2018-144491,27/03/2018,01/04/2018,Standard Class,CJ-12010,Caroline Jumper,Consumer,United States,Houston,Texas,77070.0,Central,FUR-BO-10001811,Furniture,Bookcases,"Atlantic Metals Mobile 5-Shelf Bookcases, Cust...",1023.3320
9788,9789,CA-2018-144491,27/03/2018,01/04/2018,Standard Class,CJ-12010,Caroline Jumper,Consumer,United States,Houston,Texas,77070.0,Central,FUR-CH-10004063,Furniture,Chairs,Global Deluxe High-Back Manager's Chair,600.5580
9790,9791,CA-2018-144491,27/03/2018,01/04/2018,Standard Class,CJ-12010,Caroline Jumper,Consumer,United States,Houston,Texas,77070.0,Central,FUR-CH-10001714,Furniture,Chairs,"Global Leather & Oak Executive Chair, Burgundy",211.2460
9792,9793,CA-2015-127166,21/05/2015,23/05/2015,Second Class,KH-16360,Katherine Hughes,Consumer,United States,Houston,Texas,77070.0,Central,FUR-CH-10003396,Furniture,Chairs,Global Deluxe Steno Chair,107.7720

In [86]:
# Filter where Region is 'West' and Profit is greater than 0
a=df[(df["Region"]=="West")&(df["Sales"]>0)]

In [87]:
a

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.620
5,6,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.860
6,7,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.280
7,8,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.152
8,9,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9761,9762,CA-2015-121762,14/02/2015,18/02/2015,Standard Class,ML-17395,Marina Lichtenstein,Corporate,United States,Seattle,Washington,98103.0,West,TEC-AC-10000736,Technology,Accessories,Logitech G600 MMO Gaming Mouse,239.970
9762,9763,CA-2015-121762,14/02/2015,18/02/2015,Standard Class,ML-17395,Marina Lichtenstein,Corporate,United States,Seattle,Washington,98103.0,West,OFF-AP-10001293,Office Supplies,Appliances,Belkin 8 Outlet Surge Protector,81.960
9763,9764,CA-2015-121762,14/02/2015,18/02/2015,Standard Class,ML-17395,Marina Lichtenstein,Corporate,United States,Seattle,Washington,98103.0,West,OFF-SU-10000157,Office Supplies,Supplies,Compact Automatic Electric Letter Opener,238.620
9764,9765,CA-2015-123855,18/06/2015,23/06/2015,Standard Class,MC-18100,Mick Crebagga,Consumer,United States,Los Angeles,California,90036.0,West,TEC-PH-10000215,Technology,Phones,Plantronics Cordless Phone Headset with In-lin...,139.800
9768,9769,CA-2018-142328,07/12/2018,14/12/2018,Standard Class,TC-21535,Tracy Collins,Home Office,United States,San Francisco,California,94122.0,West,OFF-PA-10000380,Office Supplies,Paper,"REDIFORM Incoming/Outgoing Call Register, 11"" ...",50.040

In [88]:
# Filter and show specific columns
b=df[df["Segment"]=="Consumer"][["Segment","Sales"]]

In [89]:
b

       Segment     Sales
0     Consumer  261.9600
1     Consumer  731.9400
3     Consumer  957.5775
4     Consumer   22.3680
5     Consumer   48.8600
...        ...       ...
9790  Consumer  211.2460
9791  Consumer   56.0640
9792  Consumer  107.7720
9793  Consumer    4.8320
9794  Consumer   18.2400

[5101 rows x 2 columns]

Task 2: Filtering & Sorting
• Filter with:
o Boolean logic (e.g. df[df['Sales'] > 500])
o Multiple conditions using & and |
• Sort using:
o df.sort_values('Profit', ascending=False)
o df.sort_values(by=['Category', 'Sales'])

In [90]:
high_sales=df[df["Sales"]>500]# Filter where Sales > 500

In [94]:
high_sales.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
7,8,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520
10,11,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.1840
11,12,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,TEC-PH-10002033,Technology,Phones,Konftel 250 Conference phone - Charcoal black,911.4240

In [95]:
# Filter by Sales > 10 and specific Ship Date
sales_on_particular_day=df[(df["Sales"]>10)&(df["Ship Date"]== "11/11/2017")]

In [96]:
sales_on_particular_day

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94
163,164,CA-2017-113817,07/11/2017,11/11/2017,Standard Class,MJ-17740,Max Jones,Consumer,United States,Seattle,Washington,98115.0,West,OFF-BI-10004002,Office Supplies,Binders,Wilson Jones International Size A4 Ring Binders,27.68

In [97]:
# Region is 'West' AND Sales > 300
west_sales = df[(df['Region'] == 'West') & (df['Sales'] > 300)]
west_sales.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
7,8,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.152
10,11,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.184
11,12,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,TEC-PH-10002033,Technology,Phones,Konftel 250 Conference phone - Charcoal black,911.424
13,14,CA-2017-161389,05/12/2017,10/12/2017,Standard Class,IM-15070,Irene Maddox,Consumer,United States,Seattle,Washington,98103.0,West,OFF-BI-10003656,Office Supplies,Binders,Fellowes PB200 Plastic Comb Binding Machine,407.976
24,25,CA-2016-106320,25/09/2016,30/09/2016,Standard Class,EB-13870,Emily Burns,Consumer,United States,Orem,Utah,84057.0,West,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,1044.630

In [98]:
#sorting the data
sorted_profit=df.sort_values("Sales",ascending=False)

In [99]:
sorted_profit

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
2697,2698,CA-2015-145317,18/03/2015,23/03/2015,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,Florida,32216.0,South,TEC-MA-10002412,Technology,Machines,Cisco TelePresence System EX90 Videoconferenci...,22638.480
6826,6827,CA-2017-118689,02/10/2017,09/10/2017,Standard Class,TC-20980,Tamara Chand,Corporate,United States,Lafayette,Indiana,47905.0,Central,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,17499.950
8153,8154,CA-2018-140151,23/03/2018,25/03/2018,First Class,RB-19360,Raymond Buch,Consumer,United States,Seattle,Washington,98115.0,West,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.960
2623,2624,CA-2018-127180,22/10/2018,24/10/2018,First Class,TA-21385,Tom Ashbrook,Home Office,United States,New York City,New York,10024.0,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,11199.968
4190,4191,CA-2018-166709,17/11/2018,22/11/2018,Standard Class,HL-15040,Hunter Lopez,Consumer,United States,Newark,Delaware,19711.0,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,10499.970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,2107,US-2015-152723,26/09/2015,26/09/2015,Same Day,HG-14965,Henry Goldwyn,Corporate,United States,Mesquite,Texas,75150.0,Central,OFF-BI-10003460,Office Supplies,Binders,Acco 3-Hole Punch,0.876
4711,4712,CA-2015-112403,31/03/2015,31/03/2015,Same Day,JO-15280,Jas O'Carroll,Consumer,United States,Philadelphia,Pennsylvania,19120.0,East,OFF-BI-10003529,Office Supplies,Binders,Avery Round Ring Poly Binders,0.852
8658,8659,CA-2017-168361,21/06/2017,25/06/2017,Standard Class,KB-16600,Ken Brennan,Corporate,United States,Chicago,Illinois,60623.0,Central,OFF-BI-10003727,Office Supplies,Binders,Avery Durable Slant Ring Binders With Label Ho...,0.836
9292,9293,CA-2018-124114,02/03/2018,02/03/2018,Same Day,RS-19765,Roland Schwarz,Corporate,United States,Waco,Texas,76706.0,Central,OFF-BI-10004022,Office Supplies,Binders,Acco Suede Grain Vinyl Round Ring Binder,0.556
4101,4102,US-2018-102288,19/06/2018,23/06/2018,Standard Class,ZC-21910,Zuschuss Carroll,Consumer,United States,Houston,Texas,77095.0,Central,OFF-AP-10002906,Office Supplies,Appliances,Hoover Replacement Belt for Commercial Guardsm...,0.444

In [100]:
# Sort by multiple columns: Category (A-Z), then Sales (High to Low)
sorted_combo = df.sort_values(by=['Category', 'Sales'], ascending=[True, False])
sorted_combo.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
7243,7244,CA-2018-118892,17/08/2018,22/08/2018,Second Class,TP-21415,Tom Prescott,Consumer,United States,Philadelphia,Pennsylvania,19134.0,East,FUR-CH-10002024,Furniture,Chairs,HON 5400 Series Task Chairs for Big and Tall,4416.174
9741,9742,CA-2016-117086,08/11/2016,12/11/2016,Standard Class,QJ-19255,Quincy Jones,Corporate,United States,Burlington,Vermont,NaN,East,FUR-BO-10004834,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",4404.900
9639,9640,CA-2016-116638,28/01/2016,31/01/2016,Second Class,JH-15985,Joseph Holt,Consumer,United States,Concord,North Carolina,28027.0,South,FUR-TA-10000198,Furniture,Tables,Chromcraft Bull-Nose Wood Oval Conference Tabl...,4297.644
5917,5918,US-2016-126977,17/09/2016,23/09/2016,Standard Class,PF-19120,Peter Fuller,Consumer,United States,New York City,New York,10035.0,East,FUR-BO-10004834,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",4228.704
6535,6536,CA-2015-128209,17/11/2015,22/11/2015,Standard Class,GT-14710,Greg Tran,Consumer,United States,Buffalo,New York,14215.0,East,FUR-BO-10002213,Furniture,Bookcases,DMI Eclipse Executive Suite Bookcases,4007.840

Task 3: Handling Missing Data
• Identify nulls with df.isnull().sum()
• Drop nulls with df.dropna()
• Fill nulls using df.fillna(value)
• Try: creating a DataFrame manually with some np.nan values

In [102]:
 # Check for missing values column-wise
df.isnull().sum()

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64

In [103]:
 # Drop rows with any missing values
df=df.dropna()

In [104]:
df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
dtype: int64

In [105]:
import pandas as pd
import numpy as np

# Create a dictionary with some missing values
data = {
    'Product': ['Chair', 'Table', 'Lamp', 'Desk', 'Couch'],
    'Category': ['Furniture', 'Furniture', np.nan, 'Office Supplies', 'Furniture'],
    'Sales': [250.0, np.nan, 80.0, 300.0, 500.0],
    'Profit': [20.0, 35.0, np.nan, 60.0, np.nan]
}

In [106]:
df1=pd.DataFrame(data)

In [107]:
df1

  Product         Category  Sales  Profit
0   Chair        Furniture  250.0    20.0
1   Table        Furniture    NaN    35.0
2    Lamp              NaN   80.0     NaN
3    Desk  Office Supplies  300.0    60.0
4   Couch        Furniture  500.0     NaN

Task 4: GroupBy Operations
• Use df.groupby('Category').mean()
• Try multiple aggregations:
• df.groupby('Region')['Sales'].agg(['sum', 'mean', 'count'])
• Apply reset_index() to clean up grouped results

In [108]:
# Average of numeric columns grouped by Category
category_mean = df.groupby('Category').mean(numeric_only=True)
category_mean

                      Row ID   Postal Code       Sales
Category
Furniture        4938.810694  55653.970617  348.525277
Office Supplies  4878.334914  55032.192953  119.128041
Technology       4908.325414  55623.135359  456.274096

In [109]:
region_sales_agg = df.groupby('Region')['Sales'].agg(['sum', 'mean', 'count'])
region_sales_agg

                 sum        mean  count
Region
Central  492646.9132  216.357889   2277
East     660589.3560  238.136033   2774
South    389151.4590  243.524067   1598
West     710219.6845  226.184613   3140

In [110]:
# Aggregate sales by Region
region_sales_agg = region_sales_agg.reset_index()
region_sales_agg

    Region          sum        mean  count
0  Central  492646.9132  216.357889   2277
1     East  660589.3560  238.136033   2774
2    South  389151.4590  243.524067   1598
3     West  710219.6845  226.184613   3140

In [120]:
 # Reset index to make 'Region' a regular column
subcat_stats = df.groupby(['Category', 'Sub-Category'])['Sales'].agg(['sum', 'mean', 'count']).reset_index()
subcat_stats

           Category Sub-Category          sum         mean  count
0         Furniture    Bookcases  109408.2987   486.259105    225
1         Furniture       Chairs  322107.5310   531.530579    606
2         Furniture  Furnishings   89212.0180    95.823865    931
3         Furniture       Tables  202810.6280   645.893720    314
4   Office Supplies   Appliances  104075.4630   227.239002    458
5   Office Supplies          Art   26697.3700    34.052768    784
6   Office Supplies      Binders  200028.7850   134.067550   1492
7   Office Supplies    Envelopes   16126.0060    65.287474    247
8   Office Supplies    Fasteners    3001.9600    14.027850    214
9   Office Supplies       Labels   12347.7260    34.587468    357
10  Office Supplies        Paper   76736.1040    57.437204   1336
11  Office Supplies      Storage  217779.1020   262.068715    831
12  Office Supplies     Supplies   46420.3080   252.284283    184
13       Technology  Accessories  163881.6900   217.349721    754
14       Technology      Copiers  146248.0940  2215.880212     66
15       Technology     Machines  189238.6310  1645.553313    115
16       Technology       Phones  326487.6980   373.128798    875

In [112]:
# Group by Category & Sub-Category with multiple aggregations
segment_region = df.groupby(['Segment', 'Region'])['Sales'].agg(['sum', 'mean']).reset_index()
segment_region

        Segment   Region          sum        mean
0      Consumer  Central  250210.5220  210.614918
1      Consumer     East  346554.2250  240.829899
2      Consumer    South  194702.2130  234.298692
3      Consumer     West  355241.1910  216.874964
4     Corporate  Central  152031.4968  230.002264
5     Corporate     East  189615.1850  224.396669
6     Corporate    South  120546.8745  241.093749
7     Corporate     West  220018.2785  233.565051
8   Home Office  Central   90404.8944  211.226389
9   Home Office     East  124419.9460  253.918257
10  Home Office    South   73902.3715  276.787908
11  Home Office     West  134960.2150  241.000384

Task 5: Merging DataFrames
• Create or use two small tables (e.g. orders.csv + customers.csv)
• Merge using:
o pd.merge(left, right, on='key')
o Join types: inner, outer, left

In [113]:
#Orders Data
orders = pd.DataFrame({
    'Order ID': ['CA-2016-152156', 'CA-2016-152157', 'US-2017-108966'],
    'Customer ID': ['CG-12520', 'DV-13045', 'SO-20335'],
    'Sales': [261.96, 731.94, 14.62]
})

In [116]:
orders

         Order ID Customer ID   Sales
0  CA-2016-152156    CG-12520  261.96
1  CA-2016-152157    DV-13045  731.94
2  US-2017-108966    SO-20335   14.62

In [114]:
#Customers Data
customers = pd.DataFrame({
    'Customer ID': ['CG-12520', 'DV-13045', 'TA-21050'],
    'Customer Name': ['Claire Gute', 'Darrin Van Huff', 'Tamara Chand'],
    'Segment': ['Consumer', 'Corporate', 'Home Office']
})

In [117]:
customers

  Customer ID    Customer Name      Segment
0    CG-12520      Claire Gute     Consumer
1    DV-13045  Darrin Van Huff    Corporate
2    TA-21050     Tamara Chand  Home Office

In [115]:
# Merge with only matching Customer IDs
inner_merged = pd.merge(orders, customers, on='Customer ID', how='inner')
inner_merged

         Order ID Customer ID   Sales    Customer Name    Segment
0  CA-2016-152156    CG-12520  261.96      Claire Gute   Consumer
1  CA-2016-152157    DV-13045  731.94  Darrin Van Huff  Corporate

In [118]:
 # Merge all orders and match customer info where available
left_merged = pd.merge(orders, customers, on='Customer ID', how='left')
left_merged

         Order ID Customer ID   Sales    Customer Name    Segment
0  CA-2016-152156    CG-12520  261.96      Claire Gute   Consumer
1  CA-2016-152157    DV-13045  731.94  Darrin Van Huff  Corporate
2  US-2017-108966    SO-20335   14.62              NaN        NaN

In [119]:
# Merge all data from both orders and customers
outer_merged = pd.merge(orders, customers, on='Customer ID', how='outer')
outer_merged

         Order ID Customer ID   Sales    Customer Name      Segment
0  CA-2016-152156    CG-12520  261.96      Claire Gute     Consumer
1  CA-2016-152157    DV-13045  731.94  Darrin Van Huff    Corporate
2  US-2017-108966    SO-20335   14.62              NaN          NaN
3             NaN    TA-21050     NaN     Tamara Chand  Home Office